nav{
    padding: 0.25rem;
    background-color: var(--bg-color-dark);
}

.icons{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icon{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}