.container{
    border: 2px solid var(--bg-color-dark);
    background-color: var(--bg-color-dark);
    min-width: 80%;
    border-radius: 1rem;
    gap: 1.5rem;
    padding: 2rem;
    margin: 0.5rem;
}


.options{
    display: flex;
    gap: 1rem;
}


.option{
    border: 2px solid var(--darkyellow-color);
    border-radius: 3rem;
    background-color: var(--darkbackground-color);
    padding: 1rem 5rem;
    font-size: 1.5rem;
    cursor: pointer;
}


.scorecardAnswers{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.correctAns{
    background-color: var(--basegreen-color);
}


.wrongAns{
    background-color: var(--basered-color);
}