.banner {
  padding: 3rem;
}

.hero {
  height: 14vh;
  width: 14vw;
}

.container {
  border: 2px solid var(--bg-color-dark);
  background-color: var(--bg-color-dark);
  width: 80%;
  border-radius: 1rem;
  gap: 1.5rem;
  padding: 2rem;
  margin: 0.5rem;
}
